//colors
$color: #eee;
//fonts
$font-stack: Muli, sans-serif;
$f-size: 12;
//custom
$mid: center;
$padding: 1% 0;

* {
  margin: 0;
  padding: 0;
}
body {
  align-items: $mid;
  display: flex;
  height: 100%;
  justify-content: $mid;
}
.holder {
  font-family: $font-stack;
  text-align: $mid;
}
.search-block {
  background: $color;
  padding: $padding;
}
.get-block {
  background: $color;
  padding: $padding;
}
.search-area {
  width: 48%;
}
.header-link {
  font-weight: 900;
  margin: 2% 0;
}
.footer {
  p {
    font-size: $f-size + px;
  }
}
